--- 
layout: default 
--- 
{% include header.html %}

<main class="post_content">
    <article class="post">
        <header>
            <div class="post_image">
                <img src={{ "/assets/img/" | prepend: site.baseurl | append : page.img}} alt="{{page.title}}">
            </div>
            <div class="post_description">
                <p class="post_meta">{{page.date | date: '%Y, %b %d'}}</p>
                <h1 class="post_title">{{page.title}}</h1>
            </div>
        </header>
        <!-- End Header -->

        <div class="entry_content">
            {{page.content | markdownify}}
        </div>

        <div class="post_wrapper">
            <footer class="post_footer cf">
                <div class="post_tag">
                    <span>Tags:</span> {% for tag in page.tags %}
                    <a href="{{site.baseurl}}/tags#{{tag}}" class="tag">{{ tag }}</a> {% endfor %}
                </div>
            </footer>
        </div>
    </article>
    <!-- End Section Post -->

    <section class="author cf">
        <div class="post_wrapper">
            <div class="author_image">
                <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{ site.author-pic }}{% endif %}" alt="Author face">
            </div>
            <div class="author_info">
                <h2 class="author_title">{% if site.author-name %}{{site.author-name}}{% else %} xyzlun {% endif %}</h2>
                <p class="author_subtitle">{% if site.about-author %}{{site.about-author}}{% else %} hi you see me {% endif %}</p>
                <div class="author_social">
                    {% if site.email %}
                    <span class="author_email"><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:{{site.email}}">{{site.email}}</a></span> {% else %}
                    <span class="author_email"><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:xyzlun@example.com">dwayne@example.com</a></span> {% endif %}
                </div>
            </div>
        </div>
    </section>
    <!-- End Section Author -->

<!--PC和WAP自适应版-->
<div id="SOHUCS" ></div> 
<script type="text/javascript"> 
(function(){ 
var appid = 'cytyyGQ47'; 
var conf = 'prod_606f83a48fa389c8d4c03cb95efe7bbd'; 
var width = window.innerWidth || document.documentElement.clientWidth; 
if (width < 960) { 
window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("https://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })(); </script>

<!-- End Section comment zone -->

  <section class="recent_box">
    <div class="post_wrapper">
      <h2 class="recent_title">Recent post</h2>
      <div class="recent_list">
        {% for post in site.posts offset:0 limit:6 %}
          {% if post.title %}
            <a href="{{ root_url }}{{ post.url }}" class="recent_item" style="background-image: url( {{ "/assets/img/" | prepend: site.baseurl | append : post.img}} )"><span>{{ post.title }}</span></a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </section> <!-- End Section Recent Box -->

    {% include disqus.html %}

</main>
<!-- End Section Post Content -->

{% include footer.html %}
